<div>
  <h1>Fiche Produit</h1>

  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)">

    <table>

      <tr>
        <td>Id :</td>
        <td>
          <input id="id" name="id" type="text"
                 required
                 [(ngModel)]="produitCourant.id">
        </td>
      </tr>

      <tr>
        <td>Code :</td>
        <td>
          <input name="code" type="text"
                 [(ngModel)]="produitCourant.code">
        </td>
      </tr>

      <tr>
        <td>Désignation :</td>
        <td>
          <input name="designation" type="text"
                 [(ngModel)]="produitCourant.designation">
        </td>
      </tr>

      <tr>
        <td>Prix :</td>
        <td>
          <input name="prix" type="number"
                 [(ngModel)]="produitCourant.prix">
        </td>
      </tr>

      <tr>
        <td colspan="2" align="center">

          <input type="submit" value="Valider"
                 [disabled]="!produitForm.form.valid">

          <!-- Effacer visible uniquement si formulaire touché -->
          <button type="button"
                  *ngIf="produitForm.form.dirty"
                  (click)="effacer(produitForm)">
            Effacer
          </button>

        </td>
      </tr>

    </table>
  </form>
</div>

<!-- ------------------------------------ -->
<!--        LISTE PRODUITS               -->
<!-- ------------------------------------ -->
<div>
  <h1>Liste des produits</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Désignation</th>
        <th>Prix</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let p of produits">
        <td>{{ p.id }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.designation }}</td>
        <td>{{ p.prix }}</td>

        <td>
          <button (click)="editerProduit(p)">Editer</button>
        </td>

        <td>
          <button (click)="supprimerProduit(p)">Supprimer</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
